<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles/main.css" rel="stylesheet">
    </head>

    <body>
            <div class="container">
                <div id="container">
                </div>
            </div>

        <script src="lib/js/jquery.min.js"></script>
        <script src="lib/js/bootstrap.min.js"></script>
        <script src="webjars/react/0.13.1/react.js"></script>
        <script src="output/hello.js"></script>
    </body>
</html>