table.user {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
}
table.login {
    border: 2px solid green;
    margin: auto;

}